# Python cache files
__pycache__/
*.pyc

# Virtual environments (Just in case someone else creates one)
env/
venv/

# Environment variables / Secrets
.env

# Editor / IDE specific files
.vscode/
.idea/